.body {
    background-color: #fff;
}

#game-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 1280px;
    height: 720px;
}

.row {
    display: flex;
    flex-direction: row;
}

.gridsquare {
    /* background-color: #e5e7eb; */
    background-color: #f00;
    outline-color: #e5e7eb;
    outline-width: 1px;
    outline-style: solid;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.gridsquare:hover {
    background-color: #fff;
}

.playedX {
    background-color: #00f;
}

.playedO {
    background-color: #0ff;
}

.win {
    background-color: green;
}