.body {
    background-color: #fff;
    
}

#game-container {
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.gridsquare {
    background-color: #e5e7eb;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 3px;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    color: grey;
}

.played {
    cursor: default;
}

.win {
    color: green;
    cursor: default;
}