body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background-color: #f9f7f4; */
}

#site-header {
    background-color: #f4f1ea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 180px;
    border-style: solid;
    border-color: #ebe8d5;
    border-width: 0.1rem;
}

.header-text {
    color: #382110;
    font-size: 1.5em;
}

.header-text-light {
    color: #9e9388;
    font-weight:lighter;
}

.header-links {
    color: #382110;
    font-size: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#main-content-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 5rem;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    padding:1.5rem;
    background-color: #fff;
    border-style: solid;
    border-color: #ebe8d5;
    border-width: 0.1rem;
    width: 300px;
    height: 300px;
}

#books-table {
    width: 50rem;
}

.header {
    color: #382110;
    border-bottom: #ebe8d5;
    border-bottom-style: solid;
    text-align: left;
}

#books-body {
    color: #00635d;
    font-weight: lighter;
}

.delete-button {
    cursor: pointer;
}

.title, .author {
    width: 20rem;
}

.pages, .status {
    width: 5rem;
}

.stats {
    display:flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

.quote {
    font-size: 1.2rem;
}
